<turbo-frame id="today_progress">
<!--progressが持つハッシュからデータを取得する感じ-->
<div>

  <%= link_to  reflections_path,data: { turbo_frame: "_top" }, class:"hover:-translate-y-1 block" do%>
      <%= render "shared/reflection_card", title:"今日やったルールの数",value: progress[:done]  , unit:"回" %>
  <% end %>

  <div class="w-full bg-gray-300 rounded-full h-2 mt-2">
    <div
      class="bg-success h-2 rounded-full transition-all"
      style="width: <%= progress[:percent] %>%">
    </div>
  </div>
  <p class="text-xs text-gray-500 mt-1">
    <%= progress[:done] %> / <%= progress[:total] %>
  </p>
</div>
</turbo-frame>