    <% content_for :title do %>
      振り返り一覧
    <% end %>

<div class="space-y-16">


<div>
  <h2 class="font-bold text-lg ">
  実行記録
  </h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
  <!--集計のグリッド-->


      <div class="card bg-base-100 shadow">
        <div class="card-body items-center text-center">
          <p class="text-sm text-gray-500">今日</p>
          <p class="text-3xl font-bold">
            <%= @reflections.where(reflected_on: Date.current).count %>
            <span class="text-sm ">回</span>
          </p>
        </div>
      </div>

      <div class="card bg-base-100 shadow">
        <div class="card-body items-center text-center">
          <p class="text-sm text-gray-500">合計実行</p>
          <p class="text-3xl font-bold">
            <%= @reflections.count %>
            <span class="text-sm ">回</span>
          </p>
        </div>
      </div>

      <div class="card bg-base-100 shadow">
        <div class="card-body items-center text-center">
          <p class="text-sm text-gray-500">今週</p>
          <p class="text-3xl font-bold">
            <%= @reflections.where(reflected_on: Time.current.all_week).count %>
            <span class="text-sm ">回</span>
          </p>
        </div>
      </div>
  <!--集計のグリッドここまで-->
    </div>
  </div>
  <div>
<!--履歴-->
    <h2 class="font-bold text-lg ">
      履歴
    </h2>
    <!--日毎にグループ分けされた実行記録-->
    <% if  @reflections.any?%>
      <ul>
          <% @reflections.group_by(&:reflected_on).each do |date, reflections| %>
            <div class="divider max-w-xl lg:max-w-full mx-auto px-2  text-gray-500"><%= date.strftime("%Y年%-m月%-d日") %></div>
            <ul class="space-y-2">
              <% reflections.each do |reflection| %>
                <li class="bg-base-100 card shadow-md rounded-lg p-4 hover:bg-base-200 ">
                  <%= link_to if_then_rule_path(reflection.if_then_rule) do %>
                      <%= render "if_then_rules/cards/rule_sentence", rule: reflection.if_then_rule %>
                  <% end  %>
                </li>
              <% end %>
            </ul>
            <% end %>
        </ul>
      <% else %>
        <p class="text-gray-500">
          まだ振り返りはありません。
        </p>
        <p class="text-gray-500">
        まずは一つメモやルールを作ることから始めましょう。
        </p>
        <div class="mt-12 flex flex-col gap-3">
          <%= link_to "新しくルールを作成する", step1_if_then_rules_flow_path, class:"btn btn-primary" %>
        </div>
      <% end %>
  </div>
  <!--履歴あるいはデータがない場合の文字  ここまで-->
</div>


