<!--if_then_rule_formはフォームオブジェクト-->
<% if_then_rule_form.warning_messages.each do |warning| %>
  <div class="text-sm text-orange-700">
    <p><%= warning[:reason] %></p>
    <p class="text-gray-600"><%= warning[:suggestion] %></p>
    <p class="text-xs text-gray-500"><%= warning[:example] %></p>
  </div>
<% end %>
<%= form_with model: if_then_rule_form, url: url, method: method, class: "max-w-md mx-auto space-y-6" do |f| %>
  <%= f.hidden_field :memo_id %>
  <div class="p-4 rounded-lg bg-blue-50 border border-blue-100">
    <div class="form-control">
      <%= f.label :if_condition, "IF（きっかけ）", class: "label" %>
      <%= f.text_field :if_condition,
                      class: "input input-bordered",
                      placeholder: "例：朝7時に起きたら" %>
      <% if if_then_rule_form.errors[:if_condition].any? %>
        <p class="text-sm text-red-600 mt-1">
          <%= if_then_rule_form.errors[:if_condition].first %>
        </p>
      <% end %>

    </div>





    <details class="mt-2 group">
      <summary class="text-sm text-gray-500 flex items-center gap-2 cursor-pointer list-none">
        <span class="transition-transform group-open:rotate-90">▶</span>
        💡 実行しやすいIFのチェックポイント
      </summary>

      <div class="mt-2 text-sm text-gray-600  p-3 rounded">
        <ul class="space-y-3 list-disc list-inside">
          <li>
            その瞬間が起きたと直感的に1つに判断できる
            <span class="ml-1 text-xs text-gray-400">（開始タイミングが絞れること）</span>
          </li>

          <li>
            自分の気分や状態ではなく、外から確認できる出来事になっている
            <span class="ml-1 text-xs text-gray-400">（気付けるトリガーになっている）</span>
          </li>

          <li>
            他のルールと同じ条件になっていない
            <span class="ml-1 text-xs text-gray-400">（一つのトリガーが一つの行動と結びつく）</span>
          </li>
        </ul>
        <p class="mt-2 text-xs text-gray-500">
          例：「やる気が出たら」→「机に座ったら」
        </p>
      </div>
    </details>
  </div>
  <div class="p-4 rounded-lg bg-green-50 border border-green-100">
    <div class="form-control">
      <%= f.label :then_action, "THEN（行動）", class: "label" %>
      <%= f.text_field :then_action,
                      class: "input input-bordered",
                      placeholder: "例：コップ一杯の水を飲む" %>
      <% if if_then_rule_form.errors[:then_action].any? %>
        <p class="text-sm text-red-600 mt-1">
          <%= if_then_rule_form.errors[:then_action].first %>
        </p>
      <% end %>

    </div>

    <details class="mt-2 group ">
      <summary class="text-sm text-gray-500 flex items-center gap-2 cursor-pointer list-none">
        <span class="transition-transform group-open:rotate-90">▶</span>
        💡 実行しやすいTHENのチェックポイント
      </summary>

      <div class="mt-2 text-sm text-gray-600  p-3 rounded">
        <ul class="space-y-3 list-disc list-inside">
          <li>
            迷わず最初の一歩を始められるサイズになっている
            <span class="ml-1 text-xs text-gray-400">（小さなステップになっている）</span>
          </li>

          <li>
            終わったかどうかを自分で判断できる
            <span class="ml-1 text-xs text-gray-400">（完了を判別できる行動）</span>
          </li>

          <li>
            具体的な場所や道具が思い浮かぶ
            <span class="ml-1 text-xs text-gray-400">（現実の環境と結びついた行動）</span>
          </li>

          <li>
            「〜しない」ではなく、やる行動で書かれている
            <span class="ml-1 text-xs text-gray-400">（実行しにくい否定表現でなく別の肯定の表現にする"代替ifthen"）</span>
          </li>
        </ul>

        <p class="mt-2 text-xs text-gray-500">
          例：「勉強する」→「ノートを開く」<br>
          例2：「スマホを見ない」→「スマホの代わりに本を1ページ読む」
        </p>
      </div>
    </details>
  </div>
   <%= f.label :status, "状態", class: "label" %>
   <%= f.select :status, [ ["実行中", "active"],["下書き", "draft"]], {selected: change_default_status(@active_if_then_rules,setted_status:if_then_rule_form.status)} %>


<% if if_then_rule_form.warnings.any? %>
        <% if_then_rule_form.warnings
            .filter { |w| w[:field] == :status }
            .each do |warning| %>
          <p class="text-yellow-600 text-sm">
            <%= warning[:message] %>
          </p>
        <% end %>
      <% end %>
   <p class="text-sm text-gray-500 mt-1">
  現在、実行中のルールは <%= @active_if_then_rules.length %> 件です
</p>
    <div class="pt-4 space-y-3">
    <% if if_then_rule_form.warnings.present? %>
      <% if if_then_rule_form.errors.empty? %>
        <%= f.button "このまま保存する",
                    name: "commit_type",
                    value: "ignore_warnings",
                    class: "btn btn-primary w-full" %>
      <% end %>

      <%= f.button "もう一度確認して保存する",
                  name: "commit_type",
                  value: "review",
                  class: "btn btn-secondary w-full" %>

    <% else %>
      <%= f.button "保存する",
                  class: "btn btn-primary w-full" %>
    <% end %>
  </div>
  <% end %>

