<!--if_then_rule_formはフォームオブジェクト-->
<div class ="space-y-6">
  <%= form_with model: if_then_rule_form, url: url, method: method, class: "max-w-md mx-auto space-y-6" do |f| %>
    <%= f.hidden_field :memo_id %>
    <div class=" bg-base-100 shadow space-y-3 p-2 rounded-lg">
    <p class="text-sm font-semibold text-gray-600">
      IF-THENルール
    </p>
    <!--IF_CONDITION入力-->
    <div class="p-4 rounded-lg bg-blue-50 border border-blue-100">
      <div class="form-control">
        <%= f.label :if_condition, "もし", class: "label block text-left" %>
        <%= f.text_field :if_condition,
                        class: "input input-bordered w-full",
                        placeholder: "例：朝7時に起きたら" %>
        <% if if_then_rule_form.errors[:if_condition].any? %>
          <p class="text-sm text-red-600 mt-1">
            <%= if_then_rule_form.errors[:if_condition].first %>
          </p>
        <% end %>

      </div>
      <!--warning表示-->
      <%= render "if_then_rules/warning_messages", if_then_rule_form: if_then_rule_form, field: :if_condition %>
      <details class="mt-2 group">
        <summary class="text-sm text-gray-500 flex items-center gap-2 cursor-pointer list-none">
          <span class="transition-transform group-open:rotate-90">▶</span>
          💡 実行しやすいIFのチェックポイント
          <p class="text-xs text-gray-400 font-light">セルフチェック用です。</p>
        </summary>

        <div class="mt-2 text-sm text-gray-600  p-3 rounded">
          <%= render "if_then_rules/hint", target: :if %>
        </div>
      </details>


    </div>



    <!--THEN_ACTION入力-->
    <div class="p-4 rounded-lg bg-green-50 border border-green-100">
      <div class="form-control">
        <%= f.label :then_action, "その時は", class: "label block text-left " %>
        <%= f.text_field :then_action,
                        class: "input input-bordered w-full",
                        placeholder: "例：コップ一杯の水を飲む" %>
        <% if if_then_rule_form.errors[:then_action].any? %>
          <p class="text-sm text-red-600 mt-1">
            <%= if_then_rule_form.errors[:then_action].first %>
          </p>
        <% end %>

      </div>
      <!--warning表示-->
      <%= render "if_then_rules/warning_messages", if_then_rule_form: if_then_rule_form, field: :then_action %>
      <details class="mt-2 group">
        <summary class="text-sm text-gray-500 flex items-center gap-2 cursor-pointer list-none">
          <span class="transition-transform group-open:rotate-90">▶</span>
          💡 実行しやすいTHENのチェックポイント
          <p class="text-xs text-gray-400 font-light">セルフチェック用です。</p>
        </summary>
        <div class="mt-2 text-sm text-gray-600  p-3 rounded">
          <%= render "if_then_rules/hint", target: :then %>
        </div>
      </details>
    </div>
    </div>

    <details class=" space-y-6 pt-4 bg-base-100 text-left p-2">
    <summary class="text-gray-800 text-sm pl-2">
      詳細設定
    </summary>

    <!--statusの入力-->
    <%= render "status_field", form: f %>
    
    
    
    <!--メモの設定-->
    <div>
    <% if controller.action_name == "edit" %>
    <p class="text-sm text-gray-400 mb-1">メモを変更する</p>
    <%= f.collection_select :memo_id, current_user.memos, :id, :display_for_select,   { include_blank: "(未選択)" },
    class:"select select-bordered"%>
      <% end %>
    </div>

    
    <!--曜日ごとの繰り返しの設定など-->
    <%= render "weekdays_field", form: f %>
    
    </details>

    <!--warning確認を無視するトグル-->
    <div class="space-y-1">
    <%= hidden_field_tag :commit_type, "" %>

    <label class="flex items-center justify-center gap-2">
    <%= check_box_tag :commit_type,
    "ignore_warnings",
    controller.action_name == "edit" ? true : false,
    class: "toggle toggle-primary" %>
      <span class="text-sm">ヒントの自動チェックをしない</span>
      </label>
      <p class="text-xs text-gray-500">チェックするとどのような内容でもエラーがなければそのまま保存できます</p>

    </div>

    <!--保存ボタンなど-->
    <div class="pt-4 space-y-3">
      <% if if_then_rule_form.warnings.present? %>


        <%= f.button "もう一度確認して保存する",

                    class: "btn btn-secondary w-full" %>

      <% else %>

        <%= f.button "保存する",
                    class: "btn btn-primary w-full" %>
      <% end %>
    </div>

    <% end %>
    <!--フォームここまで-->
    <!--選択されているメモの表示-->
    <% if @memo %>
      <div class="bg-memo p-3 rounded text-sm">
        <p class="text-xs text-gray-400 mb-1">現在のメモ</p>
        <%= @memo.title %>
        <%= @memo.body %>
      </div>
    <% else %>
      <p class="text-xs text-gray-400">
        元メモなし
      </p>
    <% end %>
</div>





