    <% content_for :title do %>
      If-Thenルール詳細
    <% end %>

    <div class="relative">
    <%= link_to '← ルール一覧へ戻る',
        if_then_rules_path,
        class: 'btn btn-ghost btn-sm ' %>
    </div>
<div class="space-y-12">
<!--ルールの表示-->
  <%= render "if_then_rules/cards/rule_card",  rule: @if_then_rule, bg_class: "bg-base-100", card_actions: :show, show_weeks: true  %>

  <div>
    <h2 class="font-bold text-lg ">
    実行記録
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
  <!--集計のグリッド-->

      <%= render "shared/reflection_card", title:"📊合計実行",value: @rule_cnt , unit:"回" %>
      <%= render "shared/reflection_card", title:"📆最後の実行日",value: last_reflected_day(@if_then_rule) , unit:"" %>
      <%= render "shared/reflection_card", title:"📆次回実行日",value: next_schedule_label(@if_then_rule) , unit:"" %>


  <!--集計のグリッドここまで-->
    </div>
  </div>
  <div class="divider max-w-xl lg:max-w-full mx-auto px-2"></div>
  <!--ルールの元になったメモ-->
  <div>
    <h2 class="font-bold text-lg ">
    元になったメモ
    </h2>
    <% if @memo.present? %>
    <div class="max-w-xl  mx-auto">
      <%= render "memos/memo_card", memo: @memo, absolute_link: memo_path(@memo)%>
    </div>
    <% else %>
      <p class="text-[11px] text-gray-400 mt-1">
        元のメモがありません
      </p>
    <% end %>
  </div>


</div>
