
<div class=" <%= bg_class %>  card shadow-md rounded-lg  space-y-2 grid grid-rows-[1fr_0.6fr] relative">
    <!--ルールのステータス(表示したくない時はローカル引数show_statusをfalseへ)-->
    <% if local_assigns.fetch(:show_status, true) %>
      <p class="tag <%= rule.status_color_class %>text-white inline-block  px-2.5 py-0.5 text-[10px] absolute top-2 right-2 rounded-lg opacity-80">
        <%= rule.human_status%>
      </p>
    <% end %>

  <!--ルールのifとthenのグループ-->
  <div class = "  p-4 rounded-t-lg ">
    <%= render "if_then_rules/cards/rule_sentence", rule: rule %>
  </div>

  <!--ルールのUI関係のグループ ブロックをわたす。-->
 
    <%= yield %>
    <%=   weekdays_label(rule.weekdays) %>

</div>
