<div class="bg-memo card shadow-md rounded-lg p-4 relative <%= "hover:-translate-y-1" if local_assigns[:show_link] %>">
        <% if local_assigns[:show_link] %>
          <%= link_to memo_path(memo),
          class:"cursor-pointer group absolute inset-0",
          data:{turbo_frame: "_top"} do end%>
        <% end %>
            <!--メモの内容の領域-->
            <div>
              <h2 class="card-title">
              <!--無題に対応している-->
                <%= memo.display_title %>
              </h2>

              <div class="card-body">
                <% if memo.body.present? %>
                  <p class="text-sm text-base-content/80 line-clamp-3">
                    <%= memo.body %>
                  </p>
                <% else %>
                  <p class="text-sm text-base-content/50 italic">
                    本文はありません
                  </p>
                <% end %>
              </div>
            </div>

            <!--メモのボタン等の領域-->
            <div class="card-actions justify-end mt-4 ">
              <%= link_to "詳細",
                    memo_path(memo),
                    class: "btn btn-sm btn-ghost z-10" %>

              <%= link_to "編集",
                    edit_memo_path(memo),
                    class: "btn btn-sm btn-ghost btn-primary z-10" %>

              <%= link_to "削除",
                    memo_path(memo),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "このメモを削除しますか？" },
                    class: "btn btn-sm btn-ghost btn-error z-10" %>
            </div>
      </div>