<%= form_with model: memo, url: url, method: method, local: true do |f| %>
  <%= f.hidden_field :from, value: "rule_flow" if local_assigns.fetch(:on_rule_flow, false)%>
  <div class="card bg-memo shadow">
    <div class="card-body">
      <!-- タイトル -->
      <div class="form-control mb-4">
        <%= f.label :title, "タイトル", class: "label" %>
        <%= f.text_field :title,
              class: "input input-bordered w-full",
              placeholder: "タイトル" %>

        <% if memo.errors[:title].any? %>
          <p class="text-error text-sm mt-1">
            <%= memo.errors[:title].first %>
          </p>
        <% end %>
      </div>

      <!-- 本文 -->
      <div class="form-control mb-6">
        <%= f.label :body, "内容", class: "label" %>
        <%= f.text_area :body,
              rows: 6,
              class: "textarea textarea-bordered w-full",
              placeholder: "目標やこうすると良いことがあるという工夫などを自由に書いてください これは後で'マイルール'を作るきっかけとして使います" %>
        <% if memo.errors[:body].any? %>
          <p class="text-error text-sm mt-1">
            <%= memo.errors[:body].first %>
          </p>
        <% end %>
      </div>

    </div>
  </div>
  <!-- ボタン -->
  <div class="pt-4">
    <%= f.submit "保存する", class: "btn btn-primary w-full" %>
  </div>

  <% end %>