    <% content_for :title do %>
      メモ一覧
    <% end %>
<div class="max-w-1vw">


  <% if @memos.any? %>
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      <% @memos.each do |memo| %>
        <div class="bg-[#eaf2fb] card shadow-md rounded-lg p-4">
          <div>
            <h2 class="card-title">
              <%= memo.title %>
            </h2>

            <div class="card-body">
              <% if memo.body.present? %>
                <p class="text-sm text-base-content/80 line-clamp-3">
                  <%= memo.body %>
                </p>
              <% else %>
                <p class="text-sm text-base-content/50 italic">
                  本文はありません
                </p>
              <% end %>
            </div>

            <div class="card-actions justify-end mt-4">
              <%= link_to "詳細",
                    memo_path(memo),
                    class: "btn btn-sm btn-ghost btn-primary" %>

              <%= link_to "編集",
                    edit_memo_path(memo),
                    class: "btn btn-sm btn-ghost" %>

              <%= link_to "削除",
                    memo_path(memo),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "このメモを削除しますか？" },
                    class: "btn btn-sm btn-ghost btn-error" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
      <div class="mt-12 flex flex-col gap-3">
        <%= link_to "新しくメモを作成する",
            new_memo_path,
            class: "btn btn-primary" %>
      </div>
  <% else %>
    <div class="text-center text-base-content/60">

      <p class="mb-4">メモでは日々の生活の"うまく行く工夫"や"気づき"を書いておきます</p>
      <p class="mb-2 text-xs">	
      ex:朝水を飲むと頭がスッキリする</p>
      <p class="mb-4 text-xs">	
	    作業前に5分準備すると集中できる など</p>
      <p class="mb-4">そのメモをもとにマイルールを作ります</p>
      <p class="mb-4">まだメモがありません</p>
      <%= link_to "最初のメモを作成する",
            new_memo_path,
            class: "btn btn-primary " %>
    </div>
  <% end %>

</div>
