    <% content_for :title do %>
      メモ作成
    <% end %>
  <% if @from_rule_flow %>
  <div class="relative">
  <%= link_to '← step1メモ選択へ戻る',
      step1_if_then_rules_flow_path,
      class: 'btn btn-ghost btn-sm ' %>
  </div>
  <%= render "if_then_rules/flow_navigation", step: 1.5 %>
  <p class="text-sm ">
    ルール作成フロー中（step1）
  </p>
  <%else%>
    <div class="relative">
  <%= link_to '← メモ一覧へ戻る',
      memos_path,
      class: 'btn btn-ghost btn-sm ' %>
  </div>
  <%end%>


      <!-- ボタン -->
        <% if @from_rule_flow %>
          <!--ルール作成のフローの場合-->
          <%= render "memo_form", memo: @memo, url: memos_path, method: :post, on_rule_flow: true  %>

            <% else %>
            <%= render "memo_form", memo: @memo, url: memos_path, method: :post %>

        <% end %>


