    <% content_for :title do %>
      <%= @memo.title.presence ||  "(無題)" %>
    <% end %>

<% if @from_rule_flow %>
  <div class="relative">
  <%= link_to '← step1メモ選択へ戻る',
      step1_if_then_rules_flow_path,
      class: 'btn btn-ghost btn-sm ' %>
</div>
  <%= render "if_then_rules/flow_navigation", step: 1.5 %>
  <p class="text-sm ">
    ルール作成フロー中（step1）
  </p>
<% else %>
  <div class="relative">
  <%= link_to '← メモ一覧へ戻る',
      memos_path,
      class: 'btn btn-ghost btn-sm ' %>
  </div>
<% end %>


<!--メモの表示-->
  <% if @from_rule_flow %>
    <%= render "memo_card", memo: @memo, card_actions: :show_on_flow%>
    <% else %>
    <%= render "memo_card", memo: @memo, card_actions: :show%>
  <% end %>



<div class="divider max-w-xl lg:max-w-full mx-auto px-2"></div>
<% if !@from_rule_flow %>
  <div class="max-w-xl lg:max-w-full mx-auto">
    <h2 class="font-bold text-lg ">
      ルール
    </h2>
    <% if @memo.if_then_rules.any? %>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <!--メモに対応するルールのグリッド-->
        <% @memo.if_then_rules.each do |rule| %>
            <!--ルールのifとthenのグループ-->
                <%= render "if_then_rules/cards/rule_card",  rule: rule, bg_class: "bg-base-100", show_status: false, absolute_link: if_then_rule_path( rule )  %>
        <% end %>
        <!--グリッドここまで-->
        </div>
      <% else %>
        <p class="text-[11px] text-gray-400 mt-1">
          まだこのメモからのIf-Thenルールはありません。
        </p>
      <% end %>
  </div>
<% end %>
