    <% content_for :title do %>
      <%= @memo.title %>
    <% end %>
<div class=" px-4 py-8 bg-base-100 ">


  <!-- 本文 -->
  <div class="prose max-w-none mb-1">
    <%= simple_format(@memo.body) %>
  </div>

  <!-- 操作ボタン群 -->
  <div class="flex flex-col gap-6 items-center ">

    <!-- 編集・削除 -->
    <div class="flex gap-4">
      <%= link_to "編集",
                  edit_memo_path(@memo),
                  class: "btn btn-outline btn-primary" %>

      <%= link_to "削除",
                    memo_path(@memo),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "このメモを削除しますか？" },
                    class: "btn btn-outline btn-error" %>
    </div>

    <!-- マイルール化ボタン -->
    <div>
      <%= link_to "このメモで新しいマイルールを作る",
                    new_if_then_rule_path(memo_id: @memo.id) ,
                    class: "btn btn-primary w-full" %>
    </div>
  </div>
</div>
<div>
<%= link_to "一覧に戻る", memos_path, class: "btn btn-ghost btn-sm" %>
</div>

