    <% content_for :title do %>
      <%= @memo.title.presence ||  "(無題)" %>
    <% end %>

<% if @from_rule_flow %>
  <div class="relative">
  <%= link_to '← step1メモ選択へ戻る',
      step1_if_then_rules_flow_path,
      class: 'btn btn-ghost btn-sm ' %>
</div>
  <p class="text-sm ">
    ルール作成フロー中（step1）
  </p>
 <% else %>
  <div class="relative">
  <%= link_to '← メモ一覧へ戻る',
      memos_path,
      class: 'btn btn-ghost btn-sm ' %>
  </div>

  <% end %>

<div class=" px-4 py-8 bg-memo ">


  <!-- 本文 -->
  <div class="prose max-w-none mb-1">
    <%= simple_format(@memo.body) %>
  </div>

  <!-- 操作ボタン群 -->
  <div class="flex flex-col gap-6 items-center ">
    <% if !@from_rule_flow %>
      <!-- 編集・削除 -->
      <div class="flex gap-4">
        <%= link_to "編集",
                    edit_memo_path(@memo),
                    class: "btn btn-outline btn-primary" %>

        <%= link_to "削除",
                      memo_path(@memo),
                      data: {
                        turbo_method: :delete,
                        turbo_confirm: "このメモを削除しますか？" },
                      class: "btn btn-outline btn-error" %>
      </div>
    <% end %>
    <!-- マイルール化ボタン -->
    <div>
      <%= link_to "このメモで新しいマイルールを作る",
                    new_if_then_rule_path(memo_id: @memo.id) ,
                    class: "btn btn-primary w-full" %>
    </div>
  </div>
</div>



<% if !@from_rule_flow %>
  <div>
    <h2 class="font-bold text-lg ">
      ルール
    </h2>
    <% if @memo.if_then_rules.any? %>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <!--メモに対応するルールのグリッド-->
        <% @memo.if_then_rules.each do |rule| %>
            <!--ルールのifとthenのグループ-->
                <%= render "if_then_rules/cards/rule_card",  rule: rule, bg_class: "bg-base-100", show_status: false, absolute_link: if_then_rule_path( rule )  %>
        <% end %>
        <!--グリッドここまで-->
        </div>
      <% else %>
        <p class="text-gray-500">
          まだこのメモからのIf-Thenルールはありません。
        </p>
      <% end %>
  </div>
<% end %>
