<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "If then maker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render "shared/header_logged_in" %>
    <% else %>
      <%= render "shared/header_guest" %>
    <% end %>



    <div class ="bg-[#69c5d4] min-h-[70vh] space-y-6 ">
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class(type) %> mb-4">
          <span><%= message %></span>
        </div>
      <% end %>

      <% if content_for(:title) %>
        <h1 class="text-4xl font-bold text-center pt-6">
          <%= yield :title %>
        </h1>
      <% end %>

      <main class="hero">
      <div class="hero-content text-center">
        <%= yield %>
      </div>
      </main>
    </div>



    <% if logged_in? %>
      <%= render "shared/footer_logged_in" %>
    <% else %>
      <%= render "shared/footer_guest" %>
    <% end %>
  </body>
</html>
