<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "If then maker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render "shared/header_logged_in" %>
    <% else %>
      <%= render "shared/header_guest" %>
    <% end %>
    <div class ="bg-[#69c5d4]">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class(type) %> mb-4">
        <span><%= message %></span>
      </div>
    <% end %>
    <main class="hero min-h-[70vh] bg-[#69c5d4]">
    <div class="hero-content text-center">
    <%= yield %>
    </div>
    </main>
    </div>
    <% if logged_in? %>
      <%= render "shared/footer_logged_in" %>
    <% else %>
      <%= render "shared/footer_guest" %>
    <% end %>
  </body>
</html>
