<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body class="min-h-screen flex items-center justify-center bg-base-200">
    <%= yield %>
  </body>
</html>